CAMPAIGN_Campaign_Automation_Converted.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Campaign_to_record_prior_record_vars</name>
        <label>Assign Campaign to record/prior record vars</label>
        <locationX>732</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>MyRecordPrior</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MyRecordCurrent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assess_New_or_Existing_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Existing_value_to_variable</name>
        <label>Assign New Record flag = True</label>
        <locationX>600</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NewRec_BOOLvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_the_Campaign_linked_to_an_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_Event_0</name>
        <label>Assign Type = Event</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>MyRecordCurrent.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Event_Online</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Webinar_Link_on_Campaign</name>
        <label>Remove Webinar Link on Campaign</label>
        <locationX>754</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>MyRecordCurrent.FORMWebinarLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdates_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdates_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_updates_required</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_of_Campaign_to_Post_Event_Processing_Complete_TRUE</name>
        <label>Set Status of Campaign to Post-Event Processing Complete = TRUE</label>
        <locationX>886</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>MyRecordCurrent.PEProcessing_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdates_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Event_Delivery</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Campaign_WebLink_with_RegForm_Weblink</name>
        <label>Update Campaign WebLink with RegForm Weblink</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>MyRecordCurrent.FORMWebinarLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyRecordCurrent.dc__Event__r.dc__Registration_Form__r.WebinarLink__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_or_Existing_record_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Reg_Form_dates</name>
        <label>Update Reg Form dates</label>
        <locationX>270</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>RegForm_Rec.dc__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyRecordCurrent.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegForm_Rec.dc__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyRecordCurrent.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegForm_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyRecordCurrent.dc__Event__r.dc__Registration_Form__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_dates_on_registration_form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Webinar_Link_on_Campaign</name>
        <label>Update Webinar Link on Campaign</label>
        <locationX>1018</locationX>
        <locationY>2423</locationY>
        <assignmentItems>
            <assignToReference>MyRecordCurrent.FORMWebinarLink__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MyRecordCurrent.dc__Event__r.dc__Registration_Form__r.WebinarLink__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdates_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdates_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_updates_required</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Assess_New_or_Existing_record</name>
        <label>Assess New or Existing record</label>
        <locationX>732</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_the_Campaign_linked_to_an_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Existing_value_to_variable</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Post_Processing_Flag_ticked</name>
        <label>Campaign Post-Processing Complete = True?</label>
        <locationX>402</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>Campaign_Status_updated_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.PEProcessing_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_updates_required</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Receives_Cert_OR_Form</name>
        <label>Campaign Receives Cert OR Form?</label>
        <locationX>446</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Campaign_updates_required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.Receive_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MyRecordCurrent.Receive_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUBFLOW_Prepare_Event_Surveys_Send_Cert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Status_updated_to_Completed</name>
        <label>Campaign Status updated to Completed?</label>
        <locationX>666</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>Set_Status_of_Campaign_to_Post_Event_Processing_Complete_TRUE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MyRecordPrior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Receives_Cert_OR_Form</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_updates_required</name>
        <label>Campaign updates required?</label>
        <locationX>182</locationX>
        <locationY>2927</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCUR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CampaignUpdates_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_the_start_date_change</name>
        <label>Did the Event (Campaign) date change?</label>
        <locationX>402</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Campaign_Post_Processing_Flag_ticked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSDC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.StartDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MyRecordPrior.StartDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MyRecordCurrent.EndDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>MyRecordPrior.EndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Reg_Form_dates</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Event_Online</name>
        <label>Is Event Online?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>New_or_Existing_record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOnline</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.dc__Event__r.dc__Registration_Form__r.WebinarLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MyRecordCurrent.FORMWebinarLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_WebLink_with_RegForm_Weblink</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Campaign_linked_to_an_Event</name>
        <label>Is the Campaign linked to an Event?</label>
        <locationX>732</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCLTE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.dc__Event__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_Event_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Existing_record_0</name>
        <label>New or Existing record</label>
        <locationX>182</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Did_the_start_date_change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing record</defaultConnectorLabel>
        <rules>
            <name>New_record_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRec_BOOLvar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_updates_required</targetReference>
            </connector>
            <label>New record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Event_Delivery</name>
        <label>Type of Event Delivery</label>
        <locationX>886</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Update_Webinar_Link_on_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Online</defaultConnectorLabel>
        <rules>
            <name>Face_to_Face</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyRecordCurrent.dc__Event__r.dc__Registration_Form__r.WebinarLink__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Webinar_Link_on_Campaign</targetReference>
            </connector>
            <label>Face to Face</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {! $Record.RecordTypeId} = &apos;0120o000000vq8hAAA&apos;</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {! $Record.RecordTypeId} = &apos;0120o000000vq8cAAA&apos;</expression>
    </formulas>
    <interviewLabel>[CAMPAIGN] - Campaign Automation (Converted) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CAMPAIGN] - EVENTS - Campaign Type, and Post-Event Campaign Member update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Campaign</name>
        <label>Update Campaign</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <inputReference>MyRecordCurrent</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_to_Campaign_Complete_0_0_0</name>
        <label>Update CMEM Campaign Complete = TRUE</label>
        <locationX>314</locationX>
        <locationY>2423</locationY>
        <connector>
            <targetReference>Campaign_updates_required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyRecordCurrent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attended_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Campaign_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dates_on_registration_form</name>
        <label>Update dates on registration form</label>
        <locationX>270</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Campaign_Post_Processing_Flag_ticked</targetReference>
        </connector>
        <inputReference>RegForm_Rec</inputReference>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Campaign_to_record_prior_record_vars</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUBFLOW_Prepare_Event_Surveys_Send_Cert</name>
        <label>SUBFLOW - Prepare Event Surveys/Send Cert</label>
        <locationX>314</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Update_Campaign_Member_to_Campaign_Complete_0_0_0</targetReference>
        </connector>
        <flowName>SUBFLOW_EVENTS_CAMPAIGN_CAMPAIGN_MEMBER_Prepare_Event_Surveys_Send_Certificate</flowName>
        <inputAssignments>
            <name>Input_Output_Campaign_Rec</name>
            <value>
                <elementReference>MyRecordCurrent</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CMem_RecColl_SubFlowInput</assignToReference>
            <name>CMEMsUpdated_RecColl</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>FormsCreated_RecColl</assignToReference>
            <name>FormsToBeCreated_RecColl</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SurveysCreatedfromSubflow</assignToReference>
            <name>var_FormsCreated</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CampaignRecTypes_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>CampaignUpdated2Complete_BOOL_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CampaignUpdates_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CMem_RecColl_SubFlowInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMemUpdate_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMemUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMemUPDATEDCert_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DEBUG_2dayTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DEBUG_7dayTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DebugBOOL_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FormsCreated_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>MyRecordCurrent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>MyRecordPrior</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>NewRec_BOOLvar</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RegForm_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>SurveyUpdate_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>SurveyUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>var_CMemUpdatesReqd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_FormLoop_SurveyUpdatesPending</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SurveysCreatedfromSubflow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
