CAMPAIGN_MEMBER_EVENTS_SCREENFLOW_Post_event_survey_and_certificate_Conga_trigge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_back_to_Input_Rec</name>
        <label>Assign back to Input_Rec</label>
        <locationX>699</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Input_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Campaign_Completed_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cert_button_visibility</name>
        <label>Assign Cert button visibility</label>
        <locationX>567</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>var_ShowEmailCertButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ShowGenCertButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_event_Administration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cert_button_visibility_0</name>
        <label>Assign Cert button visibility</label>
        <locationX>831</locationX>
        <locationY>2870</locationY>
        <assignmentItems>
            <assignToReference>var_ShowEmailCertButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ShowGenCertButton</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_event_Administration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_id_to_INPUT_Rec_Id</name>
        <label>Assign record id to INPUT_Rec Id</label>
        <locationX>567</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Input_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Campaign_Member_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_id_to_INPUT_Rec_Id_0_0</name>
        <label>Assign record id to INPUT_Rec Id</label>
        <locationX>787</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>CampaignNotComplete</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Survey_completion_required_before_certificate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Show_Certificate_buttons_flag_0</name>
        <label>Assign Show Certificate buttons flag</label>
        <locationX>567</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>var_ShowCertButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Show_Certificate_buttons_flag</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Show_Certificate_buttons_flag_0_0</name>
        <label>Assign Show Certificate buttons flag</label>
        <locationX>50</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>var_ShowCertButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowSwitch_ShowEmailSurveyButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_certificate_buttons_No_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Show_Survey_buttons_flag</name>
        <label>Assign Show Survey buttons flag</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>FlowSwitch_ShowEmailSurveyButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_certificate_buttons_No_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_button_visibility</name>
        <label>Assign Survey button visibility</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>FlowSwitch_ShowEmailSurveyButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Survey_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_survey_required_flag</name>
        <label>Assign survey required flag</label>
        <locationX>567</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>var_SurveyReqd</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_certificate_buttons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_trigger_field_to_TRUE</name>
        <label>Assign trigger field to TRUE</label>
        <locationX>303</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Input_Rec.Manual_Trigger_Email_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_trigger_field_to_TRUE_0</name>
        <label>Assign trigger field to TRUE</label>
        <locationX>567</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Input_Rec.CT_TriggerEmailCertificate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_trigger_field_to_TRUE_0_0</name>
        <label>Assign trigger field to TRUE</label>
        <locationX>831</locationX>
        <locationY>3326</locationY>
        <assignmentItems>
            <assignToReference>Input_Rec.TriggerGenerateCertificate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Show_Certificate_buttons_flag</name>
        <label>Assign Show Certificate buttons flag</label>
        <locationX>699</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>var_ShowCertButtons</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Certificate_buttons_to_show</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InProg</name>
        <label>InProg</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey awaiting submission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_certificate_buttons_No_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nothing_to_do</name>
        <label>Nothing to do</label>
        <locationX>831</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>StatusMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Post-event actions available.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Show_Certificate_buttons_flag</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Certificate_buttons_to_show</name>
        <label>Certificate buttons to show</label>
        <locationX>699</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Assign_Cert_button_visibility_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gen Cert Only</defaultConnectorLabel>
        <rules>
            <name>Email_Cert_Gen_Cert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec.Recipient_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cert_button_visibility</targetReference>
            </connector>
            <label>Email Cert &amp; Gen Cert</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEBUG_Is_INPUT_Rec_empty</name>
        <label>DEBUG - Is INPUT_Rec empty?</label>
        <locationX>699</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign_Member_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nope</defaultConnectorLabel>
        <rules>
            <name>Yup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_record_id_to_INPUT_Rec_Id</targetReference>
            </connector>
            <label>Yup</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_survey_exist</name>
        <label>Does survey exist?</label>
        <locationX>380</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Assign_Show_Survey_buttons_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec.Forms_Surveys__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Survey_button_visibility</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Campaign Completed?</description>
        <name>Is_Campaign_Completed_0</name>
        <label>Is Campaign Completed?</label>
        <locationX>699</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Assign_record_id_to_INPUT_Rec_Id_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesComps_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec.Campaign.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Survey_completion_required_before_certificate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Survey_Completed</name>
        <label>Is Survey Completed?</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>InProg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec.Forms_Surveys__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Show_Certificate_buttons_flag_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Survey_completion_required_before_certificate</name>
        <label>Is Survey completion required before certificate?</label>
        <locationX>699</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Show_certificate_buttons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey NOT required</defaultConnectorLabel>
        <rules>
            <name>Survey_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Rec.Campaign.Receive_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Campaign.Receive_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_survey_required_flag</targetReference>
            </connector>
            <label>Survey required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_certificate_buttons</name>
        <label>Show certificate buttons?</label>
        <locationX>699</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Show_certificate_buttons_No_Survey</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hide buttons</defaultConnectorLabel>
        <rules>
            <name>Show_buttons_Survey_Reqd</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_SurveyReqd</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_survey_exist</targetReference>
            </connector>
            <label>Show buttons - Survey Reqd</label>
        </rules>
        <rules>
            <name>Show_buttons_No_survey_req_d</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Survey_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Campaign.Receive_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cert Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_certificate_buttons_No_Survey</targetReference>
            </connector>
            <label>Show buttons - No survey req&apos;d</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_certificate_buttons_No_Survey</name>
        <label>Show certificate buttons? No Survey</label>
        <locationX>699</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>Nothing_to_do</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hide buttons</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Show_buttons_No_survey_req_d</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Survey_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attended</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Campaign.Receive_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cert Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Show_Certificate_buttons_flag_0</targetReference>
            </connector>
            <label>Show buttons - No survey req&apos;d</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_button_was_pressed</name>
        <label>Which button was pressed?</label>
        <locationX>699</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Update_Campaign_Member_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowSelectorSurveyEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email survey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_trigger_field_to_TRUE</targetReference>
            </connector>
            <label>Email survey</label>
        </rules>
        <rules>
            <name>Email_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowSelectorSurveyEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_trigger_field_to_TRUE_0</targetReference>
            </connector>
            <label>Email Certificate</label>
        </rules>
        <rules>
            <name>Generate_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FlowSelectorSurveyEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generate Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_trigger_field_to_TRUE_0_0</targetReference>
            </connector>
            <label>Generate Certificate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[CAMPAIGN_MEMBER] - EVENTS - SCREENFLOW - Post-event survey and certificate handling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CAMPAIGN_MEMBER] - EVENTS - SCREENFLOW - Post-event survey and certificate (Conga) trigger update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Member_record</name>
        <label>Get Campaign Member record</label>
        <locationX>699</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_back_to_Input_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_record</name>
        <label>Update Campaign Member record</label>
        <locationX>699</locationX>
        <locationY>3542</locationY>
        <inputReference>Input_Rec</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Post_event_Administration</name>
        <label>Post-event Administration</label>
        <locationX>699</locationX>
        <locationY>3086</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_button_was_pressed</targetReference>
        </connector>
        <fields>
            <name>FlowSelectorSurveyEmail</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What action would you like to perform?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Survey&quot;,&quot;value&quot;:&quot;Email survey&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Input_Rec.Recipient_Email__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>CampaignNotComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>FlowSwitch_ShowEmailSurveyButtons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowSelectorCertEmail</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Email Certificate&quot;,&quot;value&quot;:&quot;Email Certificate&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignNotComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ShowEmailCertButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>FlowSelectorCertGen</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Generate Certificate&quot;,&quot;value&quot;:&quot;Generate Certificate&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignNotComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>var_ShowGenCertButton</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotCompleteMsg</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!StatusMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CampaignNotComplete</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>573</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEBUG_Is_INPUT_Rec_empty</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>InProgress_Survey</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Survey awaiting submission&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CampaignNotComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FlowSwitch_ShowEmailSurveyButtons</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Input_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_ShowCertButtons</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ShowEmailCertButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_ShowGenCertButton</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SurveyReqd</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
