EVENTS_SCREENFLOW_Update_Admin_Console.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_MultiCampaigns</name>
        <label>Get MultiCampaigns</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <actionName>ecflc__queryIdListReturnSobjectList</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Add_Campaign_to_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sObjectCollection</typeName>
            <typeValue>Campaign</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idCollection</name>
            <value>
                <elementReference>Campaign_Lookup_Input.recordIds</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_7day_flags</name>
        <label>Update CMEM (7day flags)</label>
        <locationX>798</locationX>
        <locationY>1238</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_CMEM_Update_Collection_7day</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_CMEM_7_day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X7_Day_Reminder_Sent__c&quot;:&quot;false&quot;,&quot;Status&quot;:&quot;Attending&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_Both_flags</name>
        <label>Update CMEM (Both flags)</label>
        <locationX>270</locationX>
        <locationY>1238</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_CMEM_Update_Collection_Both</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_CMEM_Both</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X2_Day_Reminder_Sent__c&quot;:&quot;false&quot;,&quot;X7_Day_Reminder_Sent__c&quot;:&quot;false&quot;,&quot;Status&quot;:&quot;Attending&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Updatez_CMEM_2day_flags</name>
        <label>Update CMEM (2day flags)</label>
        <locationX>534</locationX>
        <locationY>1238</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_CMEM_Update_Collection_2day</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_CMEM_2_day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X2_Day_Reminder_Sent__c&quot;:&quot;false&quot;,&quot;Status&quot;:&quot;Attending&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_CMEM_Update_Collection_2day</name>
        <label>Add to CMEM Update Collection 2day</label>
        <locationX>534</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Updatez_CMEM_2day_flags.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Records found and updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send2dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMEM_Update_Collection_7day</name>
        <label>Add to CMEM Update Collection 7day</label>
        <locationX>798</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_7day_flags.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Records found and updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send7dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMEM_Update_Collection_Both</name>
        <label>Add to CMEM Update Collection Both</label>
        <locationX>270</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_Both_flags.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Records found and updated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send2dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send7dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_Campaign_to_Collection</name>
        <label>Add Campaign to Collection</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Campaign_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Get_MultiCampaigns.sObjectCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_No_CMEM_found</name>
        <label>No Forms deleted.</label>
        <locationX>996</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Forms to delete</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Forms_deleted</name>
        <label>Forms deleted</label>
        <locationX>732</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Forms deleted.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Rollback_requested</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_CMEM_found</name>
        <label>No CMEM found</label>
        <locationX>1326</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Campaign Member records were found to update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>None_selected</name>
        <label>None selected</label>
        <locationX>1062</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Result_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Select a checkbox to update records</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_removal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Campaigns_CMEMS</name>
        <label>Reset Campaigns/CMEMS</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CMEMUpdate_RecColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CampaignUpdate_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_MultiCampaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Status_and_add_to_Collection</name>
        <label>Update Status and add to Collection</label>
        <locationX>864</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.PEProcessing_Complete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send2dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Campaigns.Send7dayreminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaigns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Rollback_requested</name>
        <label>Campaign Rollback requested?</label>
        <locationX>996</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Loop_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCRR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>P_Processing_Complete_flag_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_and_add_to_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaigns_to_update</name>
        <label>Campaigns to update?</label>
        <locationX>182</locationX>
        <locationY>3158</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Admin_Console</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignUpdate_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rollback_Campaign_Completion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_Found</name>
        <label>CMEM Found?</label>
        <locationX>996</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>No_CMEM_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_CMEM</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_checkboxes_selected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_to_update</name>
        <label>CMEM to update?</label>
        <locationX>182</locationX>
        <locationY>2822</locationY>
        <defaultConnector>
            <targetReference>Campaigns_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMEMUpdate_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Form_removal</name>
        <label>Form removal?</label>
        <locationX>996</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Campaign_Rollback_requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yesf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Forms_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Forms</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_checkboxes_selected</name>
        <label>Which checkboxes selected</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>None_selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cb2day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cb7day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMEM_Both</targetReference>
            </connector>
            <label>Both</label>
        </rules>
        <rules>
            <name>X2_day_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cb2day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cb7day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMEM_2_day</targetReference>
            </connector>
            <label>2 day only</label>
        </rules>
        <rules>
            <name>X7_day_only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>cb7day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>cb2day_input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMEM_7_day</targetReference>
            </connector>
            <label>7 day only</label>
        </rules>
    </decisions>
    <interviewLabel>Events Admin Console {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Events Admin Console</label>
    <loops>
        <name>Loop_Campaigns</name>
        <label>Loop Campaigns</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Campaign_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_CMEM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CMEM_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Forms</name>
        <label>Delete Forms</label>
        <locationX>732</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Forms_deleted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_No_CMEM_found</targetReference>
        </faultConnector>
        <inputReference>Get_Forms</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_CMEM</name>
        <label>Get All CMEM</label>
        <locationX>996</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMEM_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMEM_2_day</name>
        <label>Get CMEM 2 day</label>
        <locationX>534</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updatez_CMEM_2day_flags</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X2_Day_Reminder_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMEM_7_day</name>
        <label>Get CMEM 7 day</label>
        <locationX>798</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CMEM_7day_flags</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X7_Day_Reminder_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CMEM_Both</name>
        <label>Get CMEM Both</label>
        <locationX>270</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_CMEM_Both_flags</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>X2_Day_Reminder_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X7_Day_Reminder_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Forms</name>
        <label>Get Forms</label>
        <locationX>732</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Campaigns.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Rollback_Campaign_Completion</name>
        <label>Rollback Campaign Completion</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Admin_Console</targetReference>
        </connector>
        <inputReference>CampaignUpdate_RecColl</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Members</name>
        <label>Update Campaign Members</label>
        <locationX>50</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>Campaigns_to_update</targetReference>
        </connector>
        <inputReference>CMEMUpdate_RecColl</inputReference>
    </recordUpdates>
    <screens>
        <name>Admin_Console</name>
        <label>Admin Console</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Reset_Campaigns_CMEMS</targetReference>
        </connector>
        <fields>
            <name>Campaign_Lookup_Input</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>dc__Event_Campaign__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Campaigns(s)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>dc__Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>SelectedCampaigns_TxtVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cb2day_input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Remove 2 day reminder history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>cb7day_input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Remove 7 day reminder history</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delete_Forms_Input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Delete Forms</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>P_Processing_Complete_flag_input</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Campaign Completion rollback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Result</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!Result_var}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Begin removal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Admin_Console</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campaign_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CMEMUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Result_var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCampaigns_TxtVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCampainID_textvar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
