EVENTS_SUBFLOW_SCHEDULED_Trigger.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe_CMEM_Update_Record_Collection</name>
        <label>Dedupe CMEM Update Record Collection</label>
        <locationX>50</locationX>
        <locationY>7742</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_CMEM_with_respective_status_and_flag</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>CMEMUpdate_RecColl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_2_day_SMS</name>
        <label>Send 2 day SMS</label>
        <locationX>360</locationX>
        <locationY>3566</locationY>
        <actionName>dc__Integration8</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Trigger_2day_Campaigns</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toCampaign</name>
            <value>
                <elementReference>Loop_Trigger_2day_Campaigns.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx1</name>
            <value>
                <elementReference>Loop_Trigger_2day_Campaigns.dc__Event__r.dc__Registration_Form__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx2</name>
            <value>
                <elementReference>Loop_Trigger_2day_Campaigns.dc__Event__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationStatus</name>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>61480022922</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X0o000001ObHD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusFilter</name>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toFieldCampaignMember</name>
            <value>
                <stringValue>dc__Mobile_Unformatted__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_7_day_email</name>
        <label>Send 7 day email</label>
        <locationX>360</locationX>
        <locationY>3014</locationY>
        <actionName>dc__Integration4</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Trigger_7day_Campaigns</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toCampaign</name>
            <value>
                <elementReference>Loop_Trigger_7day_Campaigns.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx1</name>
            <value>
                <elementReference>Loop_Trigger_7day_Campaigns.dc__Event__r.dc__Registration_Form__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx2</name>
            <value>
                <elementReference>Loop_Trigger_7day_Campaigns.dc__Event__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X0o000001OfIg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>events@bsphn.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddressLabel</name>
            <value>
                <stringValue>Events @ Brisbane South PHN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationStatus</name>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusFilter</name>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_2day_reminder_flag_false2</name>
        <label>Update CMEM 2day reminder flag = false</label>
        <locationX>226</locationX>
        <locationY>5294</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Add_to_CMEM_Update_Record_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_Status_Attending_POST_Sent_2day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X2_Day_Reminder_Sent__c&quot;:&quot;false&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_2day_reminder_flag_true</name>
        <label>Update CMEM 2day reminder flag = true</label>
        <locationX>226</locationX>
        <locationY>4718</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_CMEM_Update_Record_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_Status_Included_POST_Sent_2day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X2_Day_Reminder_Sent__c&quot;:&quot;true&quot;,&quot;Status&quot;:&quot;Attending&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_7day_reminder_flag_false</name>
        <label>Update CMEM 7day Status = Attending &amp; reminder flag = false</label>
        <locationX>270</locationX>
        <locationY>7094</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_3_of_Add_to_CMEM_Update_Record_Collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_Status_Included_POST_Sent_7day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X7_Day_Reminder_Sent__c&quot;:&quot;false&quot;,&quot;Status&quot;:&quot;Attending&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_CMEM_7day_reminder_flag_true</name>
        <label>Update CMEM 7day reminder flag = true</label>
        <locationX>270</locationX>
        <locationY>6518</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_CMEM_Update_Record_Collection7dpost</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_Status_Attending_POST_Sent_7day</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X7_Day_Reminder_Sent__c&quot;:&quot;true&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_filtered_2day_CMEM_Status_Included</name>
        <label>Update filtered (2day) CMEM Status = Included</label>
        <locationX>908</locationX>
        <locationY>1478</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_2_day_send_CMEM_rec_collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_CMEM_with_2daysent_flag_FALSE</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Status&quot;:&quot;Included&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_filtered_7day_CMEM_Status_Included2</name>
        <label>Update filtered (7day) CMEM Status = Included</label>
        <locationX>468</locationX>
        <locationY>1358</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_to_7_day_send_collection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CMEM_7_day_reminder_NOT_sent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;Status&quot;:&quot;Included&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Campaign_to_2day_Campaign_Collection</name>
        <label>Add Campaign to 2day Campaign Collection</label>
        <locationX>908</locationX>
        <locationY>1718</locationY>
        <assignmentItems>
            <assignToReference>Campaign2Day_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_future_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Campaign_to_7day_Campaign_Collection</name>
        <label>Add Campaign to 7day Campaign Collection</label>
        <locationX>468</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Campaign7Day_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_future_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_future_events_to_Event_Loop_Record_Collection</name>
        <label>Add future events to Event Loop Record Collection</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>LOOPRegForm_RecColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_future_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_future_events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_2_day_send_CMEM_rec_collection</name>
        <label>Add to 2 day send CMEM rec collection</label>
        <locationX>908</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>TwoDay_CMEM_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_filtered_2day_CMEM_Status_Included.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaign_to_2day_Campaign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_7_day_send_collection</name>
        <label>Add to 7 day send CMEM rec collection</label>
        <locationX>468</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>SevenDay_CMEM_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_filtered_7day_CMEM_Status_Included2.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SevenDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>SevenDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaign_to_7day_Campaign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMEM_Update_Record_Collection</name>
        <label>Add to CMEM Update Record Collection</label>
        <locationX>226</locationX>
        <locationY>4838</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Update_CMEM_2day_reminder_flag_true.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_2day_reminder_flag_true.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_to_Status_Attending_POST_Sent_2day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_CMEM_Update_Record_Collection7dpost</name>
        <label>Add to CMEM Update Record Collection</label>
        <locationX>270</locationX>
        <locationY>6638</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Update_CMEM_7day_reminder_flag_true.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_7day_reminder_flag_true.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_to_Status_Included_POST_Sent_7day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_CMEM_Update_Record_Collection</name>
        <label>Add to CMEM Update Record Collection</label>
        <locationX>226</locationX>
        <locationY>5414</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Update_CMEM_2day_reminder_flag_false2.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_2day_reminder_flag_false2.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_2Day_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Add_to_CMEM_Update_Record_Collection</name>
        <label>Add to CMEM Update Record Collection</label>
        <locationX>270</locationX>
        <locationY>7214</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Update_CMEM_7day_reminder_flag_false.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_CMEM_7day_reminder_flag_false.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_7_day_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_CMEMUpdate_RecColl</name>
        <label>Reset CMEMUpdate_RecColl</label>
        <locationX>248</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CMEMUpdate_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Seven_day_reminders_found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>CMEM_7_day_reminder_NOT_sent</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>CMEM 7 day reminder NOT sent</label>
        <locationX>600</locationX>
        <locationY>1118</locationY>
        <assignNextValueToReference>currentItem_CMEM_7_day_reminder_NOT_sent</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_CMEM_recs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CMEM_7_day_reminder_NOT_sent.X7_Day_Reminder_Sent__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CMEM_records_contained_in_record_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_CMEM_with_2daysent_flag_FALSE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to CMEM with 2daysent flag = FALSE</label>
        <locationX>1040</locationX>
        <locationY>1238</locationY>
        <assignNextValueToReference>currentItem_CMEM_7_day_reminder_NOT_sent</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_CMEM_recs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_CMEM_7_day_reminder_NOT_sent.X2_Day_Reminder_Sent__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_CMEM_7_day_reminder_NOT_sent.dc__Mobile_Unformatted__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Any_eligible_CMem_found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Status_Attending_POST_Sent_2day</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Status = Attending POST Sent (2day)</label>
        <locationX>358</locationX>
        <locationY>5054</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Status_Included_POST_Sent_2day</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_2day_CMEM_POST</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Status_Included_POST_Sent_2day.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Attending</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Attending_2day</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Status_Attending_POST_Sent_7day</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Status = Attending POST Sent (7day)</label>
        <locationX>402</locationX>
        <locationY>6278</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Status_Included_POST_Sent_2day</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_7day_CMEM_POST_Sent</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Status_Included_POST_Sent_2day.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Attending</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Attending_7day</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Status_Included_POST_Sent_2day</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Status = Included POST Sent (2day)</label>
        <locationX>358</locationX>
        <locationY>4478</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Status_Included_POST_Sent_2day</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_2day_CMEM_POST</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Status_Included_POST_Sent_2day.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Included</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Included_2day</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_Status_Included_POST_Sent_7day</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to Status = Included POST Sent (7day)</label>
        <locationX>402</locationX>
        <locationY>6854</locationY>
        <assignNextValueToReference>currentItem_Filter_to_Status_Included_POST_Sent_2day</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_7day_CMEM_POST_Sent</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_Status_Included_POST_Sent_2day.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Included</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Found_Included_7day</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_CMem_to_update_StatusIncluded</name>
        <label>Any CMem to update?</label>
        <locationX>380</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Seven_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCMU7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMEMUpdate_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_processed_CMEM_with_Status_Included</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_eligible_CMem_found</name>
        <label>CMEM records contained in record Collection?</label>
        <locationX>1040</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Loop_future_events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES2a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_CMEM_with_2daysent_flag_FALSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_filtered_2day_CMEM_Status_Included</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_2_days_before_event</name>
        <label>Check if 2 days before event</label>
        <locationX>1194</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Loop_future_events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_2daysbefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_CMEM_with_2daysent_flag_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_7_days_before_event</name>
        <label>Check if 7 days before event</label>
        <locationX>897</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Check_if_2_days_before_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_7daysbefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMEM_7_day_reminder_NOT_sent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_records_contained_in_record_Collection</name>
        <label>CMEM records contained in record Collection?</label>
        <locationX>600</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Loop_future_events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CMEM in Collection</defaultConnectorLabel>
        <rules>
            <name>YesContained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMEM_7_day_reminder_NOT_sent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_filtered_7day_CMEM_Status_Included2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_records_found_2_day_Campaigns</name>
        <label>CMEM records found? 2 day Campaigns</label>
        <locationX>512</locationX>
        <locationY>4358</locationY>
        <defaultConnector>
            <targetReference>Loop_2Day_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCCCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_2day_CMEM_POST</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_Status_Included_POST_Sent_2day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_records_found_7_day_Campaigns</name>
        <label>CMEM records found? 7 day Campaigns</label>
        <locationX>556</locationX>
        <locationY>6158</locationY>
        <defaultConnector>
            <targetReference>Loop_7_day_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_7day_CMEM_POST_Sent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_Status_Attending_POST_Sent_7day</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_to_update_send_failure</name>
        <label>CMEM to update send failure?</label>
        <locationX>182</locationX>
        <locationY>7622</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCM2u</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMEMUpdate_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe_CMEM_Update_Record_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_current_Loop_Campaign_contain_CMEM</name>
        <label>Does Event contain CMEM?</label>
        <locationX>1210</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Loop_future_events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCLCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_CMEM_recs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_7_days_before_event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Attending_2day</name>
        <label>Found Attending 2day</label>
        <locationX>358</locationX>
        <locationY>5174</locationY>
        <defaultConnector>
            <targetReference>Loop_2Day_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_Status_Attending_POST_Sent_2day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMEM_2day_reminder_flag_false2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Attending_7day</name>
        <label>Found Attending 7day</label>
        <locationX>402</locationX>
        <locationY>6398</locationY>
        <defaultConnector>
            <targetReference>Filter_to_Status_Included_POST_Sent_7day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_Status_Attending_POST_Sent_7day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMEM_7day_reminder_flag_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Included_2day</name>
        <label>Found Included 2day</label>
        <locationX>358</locationX>
        <locationY>4598</locationY>
        <defaultConnector>
            <targetReference>Filter_to_Status_Attending_POST_Sent_2day</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_Status_Included_POST_Sent_2day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMEM_2day_reminder_flag_true</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Included_7day</name>
        <label>Found Included 7day</label>
        <locationX>402</locationX>
        <locationY>6974</locationY>
        <defaultConnector>
            <targetReference>Loop_7_day_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7dpostIncludedfound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_Status_Included_POST_Sent_7day</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMEM_7day_reminder_flag_false</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Future_events_found</name>
        <label>Future events found?</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFEFY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_all_future_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_future_events_to_Event_Loop_Record_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Seven_day_reminders_found</name>
        <label>7 day Campaigns found?</label>
        <locationX>380</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>X2_day_Campaigns_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign7Day_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Trigger_7day_Campaigns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_day_Campaigns_found</name>
        <label>2 day Campaigns found?</label>
        <locationX>380</locationX>
        <locationY>3326</locationY>
        <defaultConnector>
            <targetReference>Wait_1_minute2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign2Day_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Trigger_2day_Campaigns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_day_CMEM_to_update_PostSend</name>
        <label>2 day CMEM to update?</label>
        <locationX>182</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Loop_7_day_Campaigns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwoDay_CMEM_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_2Day_Campaigns</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update Campaign rec to trigger Email/SMS Registration Reminder (Single Campaign) Subflow</description>
    <formulas>
        <name>FiveFromNow_FORM</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 5/1440</expression>
    </formulas>
    <formulas>
        <name>FiveFromNow_FORMVar</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 5/1440</expression>
    </formulas>
    <formulas>
        <name>FORM_7daysahead_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>Formula_2daysbefore</name>
        <dataType>Boolean</dataType>
        <expression>IF(
TODAY() = ( DATEVALUE({!Loop_future_events.dc__Event_Start_Date__c}) - 2),
True,
False
)</expression>
    </formulas>
    <formulas>
        <name>Formula_7daysbefore</name>
        <dataType>Boolean</dataType>
        <expression>IF(
TODAY() = ( DATEVALUE({!Loop_future_events.dc__Event_Start_Date__c}) - 7),
True,
False
)</expression>
    </formulas>
    <interviewLabel>EVENTS - SUBFLOW - SCHEDULED Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EVENTS - SUBFLOW - SCHEDULED Trigger</label>
    <loops>
        <name>Loop_2Day_Campaigns</name>
        <label>Loop 2Day Campaigns</label>
        <locationX>138</locationX>
        <locationY>4118</locationY>
        <collectionReference>Campaign2Day_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_2day_CMEM_POST</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_7_day_Campaigns</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_7_day_Campaigns</name>
        <label>Loop 7 day Campaigns</label>
        <locationX>182</locationX>
        <locationY>5918</locationY>
        <collectionReference>Campaign7Day_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_7day_CMEM_POST_Sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CMEM_to_update_send_failure</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_future_events</name>
        <label>Loop future events</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <collectionReference>LOOPRegForm_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_CMem_to_update_StatusIncluded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trigger_2day_Campaigns</name>
        <label>Loop Trigger 2day Campaigns</label>
        <locationX>272</locationX>
        <locationY>3446</locationY>
        <collectionReference>Campaign2Day_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_2_day_SMS</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wait_1_minute2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Trigger_7day_Campaigns</name>
        <label>Loop Trigger 7day Campaigns</label>
        <locationX>272</locationX>
        <locationY>2894</locationY>
        <collectionReference>Campaign7Day_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_7_day_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>X2_day_Campaigns_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_2day_CMEM_POST</name>
        <label>Get All 2day CMEM POST Sent</label>
        <locationX>512</locationX>
        <locationY>4238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMEM_records_found_2_day_Campaigns</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_2Day_Campaigns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_7day_CMEM_POST_Sent</name>
        <label>Get All 7day CMEM POST Sent</label>
        <locationX>556</locationX>
        <locationY>6038</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMEM_records_found_7_day_Campaigns</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_7_day_Campaigns.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_future_Events</name>
        <label>Get all active future Events (RegForms) with Reminders turned on</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Future_events_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Automated_Reminder__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>dc__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dc__Registration_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>1210</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_CMEM_recs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_future_events.dc__Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_CMEM_recs</name>
        <label>Get related CMEM recs</label>
        <locationX>1210</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_current_Loop_Campaign_contain_CMEM</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_future_events</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_future_events.dc__Campaign__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CMEM_with_respective_status_and_flag</name>
        <label>Update CMEM with respective status and flag</label>
        <locationX>50</locationX>
        <locationY>7862</locationY>
        <inputReference>Dedupe_CMEM_Update_Record_Collection.outputRecordCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_processed_CMEM_with_Status_Included</name>
        <label>Update processed CMEM with Status = Included</label>
        <locationX>248</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Reset_CMEMUpdate_RecColl</targetReference>
        </connector>
        <inputReference>CMEMUpdate_RecColl</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_future_Events</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campaign2Day_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Campaign7Day_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CampaignUpdates_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CMEMUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_CMEM_7_day_reminder_NOT_sent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_Status_Included_POST_Sent_2day</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_updated_CMEM_to_7_day_only</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DebugBool_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DebugVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRegForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LOOPRegForm_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>RecipientIDs_varColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegForm_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>SevenDay_CMEM_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>TwoDay_CMEM_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <waits>
        <name>Wait_1_minute2</name>
        <label>Wait x minutes</label>
        <locationX>380</locationX>
        <locationY>3878</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>x5_minute_Pause</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Campaign2Day_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campaign7Day_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_day_CMEM_to_update_PostSend</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>FiveFromNow_FORMVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>5 minute Pause</label>
        </waitEvents>
    </waits>
</Flow>
