EVENTS_Update_CMem_Details.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_DEBUG_CMEM_to_CMEM_Record_var</name>
        <label>Assign DEBUG CMEM to CMEM Record var</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_CMEM_rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUBFLOW_CAMPAIGN_MEMBER_EVENTS_Contact_details_and_Status_update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Triggering_Record_to_CMEM_Record_var</name>
        <label>Assign to Triggering Record to CMEM Record var</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SUBFLOW_CAMPAIGN_MEMBER_EVENTS_Contact_details_and_Status_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEBUG_Input_has_a_value</name>
        <label>DEBUG - Input has a value?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Triggering_Record_to_CMEM_Record_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Input</defaultConnectorLabel>
        <rules>
            <name>Input_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputRecIDd</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Input_CMEM_rec</targetReference>
            </connector>
            <label>Input detected</label>
        </rules>
    </decisions>
    <interviewLabel>EVENTS - Update CMem Details {!$Flow.CurrentDateTime} - {!$User.Email}</interviewLabel>
    <label>CMEM - Parent Flow - Update CMEM Details (Events incl)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Input_CMEM_rec</name>
        <label>Get Input CMEM rec</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_DEBUG_CMEM_to_CMEM_Record_var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecIDd</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEBUG_Input_has_a_value</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Attend</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>FORM_EventLinkedtoCampaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Campaign_Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SUBFLOW_CAMPAIGN_MEMBER_EVENTS_Contact_details_and_Status_update</name>
        <label>SUBFLOW_[CAMPAIGN_MEMBER] (EVENTS) - Contact details, and Status update</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <flowName>SUBFLOW_CAMPAIGN_MEMBER_EVENTS_Contact_details_and_Status_update</flowName>
        <inputAssignments>
            <name>Input_CMem_Rec</name>
            <value>
                <elementReference>CMem_Rec</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DEBUG_ManualSend</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>EntryRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>InputRecIDd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
