EVENTS_SUBFLOW_SINGLE_CAMPAIGN_Email_SMS_Registration_Reminders.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe2dayCMem</name>
        <label>Dedupe2dayCMem</label>
        <locationX>660</locationX>
        <locationY>1742</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Campaign_SMS_2_day</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dedupe7dayCMem</name>
        <label>Dedupe7dayCMem</label>
        <locationX>660</locationX>
        <locationY>2438</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_7_day_Campaign_Email</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Update_filtered_7day_CMEM_7_day_reminder_sent_flag.outputCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Dedupe_Campaign_Members</name>
        <label>Dedupe Campaign Members</label>
        <locationX>660</locationX>
        <locationY>3134</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_CMEM</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>CMEMUpdate_RecColl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_7_day_Campaign_Email</name>
        <label>Send 7 day Campaign Email</label>
        <locationX>660</locationX>
        <locationY>2558</locationY>
        <actionName>dc__Integration4</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_filtered_7day_CMEM_7_day_reminder_sent_flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toCampaign</name>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx1</name>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__r.dc__Event__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx2</name>
            <value>
                <elementReference>InputRegForm_Rec.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X0o000001OfIg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>events@bsphn.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddressLabel</name>
            <value>
                <stringValue>Events @ Brisbane South PHN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationStatus</name>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusFilter</name>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This Dashcord action changes the CMEM status = Attending after the send.</description>
        <name>Send_Campaign_SMS_2_day</name>
        <label>Send Campaign SMS 2 day</label>
        <locationX>660</locationX>
        <locationY>1862</locationY>
        <actionName>dc__Integration8</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_filtered_2day_CMEM_2_day_reminder_sent_flag</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toCampaign</name>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx1</name>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__r.dc__Event__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx2</name>
            <value>
                <elementReference>InputRegForm_Rec.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationStatus</name>
            <value>
                <stringValue>Attending</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>61480022922</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X0o000001ObHD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusFilter</name>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toFieldCampaignMember</name>
            <value>
                <stringValue>dc__Mobile_Unformatted__c</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_filtered_2day_CMEM_2_day_reminder_sent_flag</name>
        <label>Update filtered (2day) CMEM 2 day reminder sent flag</label>
        <locationX>660</locationX>
        <locationY>1982</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_all_updated_CMEM_to_UpdateCollection</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X2_Day_Reminder_Sent__c&quot; : &quot;true&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Update_filtered_7day_CMEM_7_day_reminder_sent_flag</name>
        <label>Update filtered (7day) CMEM 7 day reminder sent flag</label>
        <locationX>660</locationX>
        <locationY>2678</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_all_updated_CMEM_to_UpdateCollection7day</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Dedupe7dayCMem.outputRecordCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;X7_Day_Reminder_Sent__c&quot; : &quot;true&quot;</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>This adds the same processed, and filtered CMEM recs that were added to a record collection variable at the beginning of the flow</description>
        <name>Add_all_updated_CMEM_to_UpdateCollection</name>
        <label>Add all updated CMEM to UpdateCollection</label>
        <locationX>660</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Update_filtered_2day_CMEM_2_day_reminder_sent_flag.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_filtered_2day_CMEM_2_day_reminder_sent_flag.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Seven_day_reminders_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This adds the same processed, and filtered CMEM recs that were added to a record collection variable at the beginning of the flow</description>
        <name>Add_all_updated_CMEM_to_UpdateCollection7day</name>
        <label>Add all updated CMEM to UpdateCollection</label>
        <locationX>660</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Update_filtered_7day_CMEM_7_day_reminder_sent_flag.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_CMem_to_update_StatusIncluded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Campaign_to_2day_Campaign_Collection</name>
        <label>Add Campaign to 2day Campaign Collection</label>
        <locationX>490</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Campaign2Day_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Two_day_reminders_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Campaign_to_7day_Campaign_Collection</name>
        <label>Add Campaign to 7day Campaign Collection</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Campaign7Day_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Get_Campaign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Two_day_reminders_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_2_day_send_CMEM_rec_collection2</name>
        <label>Add to 2 day send CMEM rec collection</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TwoDay_CMEM_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Filter_to_CMEM_with_2daysent_flag_FALSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>TwoDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaign_to_2day_Campaign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_7_day_send_collection</name>
        <label>Add to 7 day send CMEM rec collection</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>SevenDay_CMEM_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Filter_to_CMEM_with_7daysent_flag_FALSE</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>SevenDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMUpdate_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>SevenDay_CMEM_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Campaign_to_7day_Campaign_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_to_CMEM_with_2daysent_flag_FALSE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to CMEM with 2daysent flag = FALSE</label>
        <locationX>622</locationX>
        <locationY>758</locationY>
        <assignNextValueToReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_CMEM_recs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE.X2_Day_Reminder_Sent__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE.dc__Mobile_Unformatted__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Included</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Any_eligible_CMem_found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_to_CMEM_with_7daysent_flag_FALSE</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter to CMEM with 7daysent flag = FALSE</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_related_CMEM_recs</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE.X7_Day_Reminder_Sent__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE.Status</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Included</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CMEM_records_contained_in_record_Collection</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Any_CMem_to_update_StatusIncluded</name>
        <label>Any CMem to update?</label>
        <locationX>792</locationX>
        <locationY>3014</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCMU7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMEMUpdate_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe_Campaign_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_eligible_CMem_found</name>
        <label>CMEM records contained in record Collection?</label>
        <locationX>622</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Two_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YES2a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_CMEM_with_2daysent_flag_FALSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_2_day_send_CMEM_rec_collection2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_2_days_before_event</name>
        <label>Check if 2 days before event</label>
        <locationX>776</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Two_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_2daysbefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_CMEM_with_2daysent_flag_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_7_days_before_event</name>
        <label>Check if 7 days before event</label>
        <locationX>479</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_if_2_days_before_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Formula_7daysbefore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filter_to_CMEM_with_7daysent_flag_FALSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_records_contained_in_record_Collection</name>
        <label>CMEM records contained in record Collection?</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Two_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CMEM in Collection</defaultConnectorLabel>
        <rules>
            <name>YesContained</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_CMEM_with_7daysent_flag_FALSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_7_day_send_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_current_Loop_Campaign_contain_CMEM</name>
        <label>Does Event contain CMEM?</label>
        <locationX>792</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Two_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCLCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_CMEM_recs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_7_days_before_event</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Seven_day_reminders_found</name>
        <label>7 day Campaigns found?</label>
        <locationX>792</locationX>
        <locationY>2318</locationY>
        <defaultConnector>
            <targetReference>Any_CMem_to_update_StatusIncluded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_CMEM_with_7daysent_flag_FALSE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe7dayCMem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Two_day_reminders_found</name>
        <label>2 day Campaigns found?</label>
        <locationX>792</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Seven_day_reminders_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TwoDay_CMEM_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe2dayCMem</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORM_7daysahead_Date</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 7</expression>
    </formulas>
    <formulas>
        <name>Formula_2daysbefore</name>
        <dataType>Boolean</dataType>
        <expression>IF(
TODAY() = ( DATEVALUE({!InputRegForm_Rec.dc__Event_Start_Date__c}) - 2),
True,
False
)</expression>
    </formulas>
    <formulas>
        <name>Formula_7daysbefore</name>
        <dataType>Boolean</dataType>
        <expression>IF(
TODAY() = ( DATEVALUE({!InputRegForm_Rec.dc__Event_Start_Date__c}) - 7),
True,
False
)</expression>
    </formulas>
    <interviewLabel>EVENTS - SUBFLOW (SINGLE CAMPAIGN) Email/SMS Registration Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EVENTS - SUBFLOW (SINGLE CAMPAIGN) Email/SMS Registration Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>792</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_related_CMEM_recs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PEProcessing_Complete__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_CMEM_recs</name>
        <label>Get related CMEM recs</label>
        <locationX>792</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_current_Loop_Campaign_contain_CMEM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRegForm_Rec.dc__Campaign__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Included</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CMEM</name>
        <label>Update CMEM</label>
        <locationX>660</locationX>
        <locationY>3254</locationY>
        <inputReference>Dedupe_Campaign_Members.outputRecordCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>666</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Campaign</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Campaign2Day_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Campaign7Day_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CMEMUpdate_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_to_CMEM_with_2daysent_flag_FALSE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DebugVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRegForm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputRegForm_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>LOOPRegForm_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>RecipientIDs_varColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegForm_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dc__Registration_Form__c</objectType>
    </variables>
    <variables>
        <name>SevenDay_CMEM_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>TwoDay_CMEM_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
