FORMS_EVENTS_DELETE_FLOW_CMem_update_on_survey_deletion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Campaign_Member_ID_present</name>
        <label>Campaign Member ID present?</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>No Campaign Member Linked</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Linked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CampaignMemberID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member_linked_to_form</targetReference>
            </connector>
            <label>Campaign Member Linked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Remaining_Survey_URL_left_behind</name>
        <label>Remaining Survey URL left behind?</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Nothing left</defaultConnectorLabel>
        <rules>
            <name>URL_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member_linked_to_form.Post_Event_Survey_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_record</targetReference>
            </connector>
            <label>URL detected</label>
        </rules>
    </decisions>
    <interviewLabel>[FORMS] - EVENTS - CMem update on survey deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[FORMS] - EVENTS - DELETE FLOW - CMem update on survey deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Campaign_Member_linked_to_form</name>
        <label>Get Campaign Member linked to form</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remaining_Survey_URL_left_behind</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignMemberID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_record</name>
        <label>Update Campaign Member record</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignMemberID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Post_Event_Survey_Link__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_Member_ID_present</targetReference>
        </connector>
        <object>Formstack_Survey__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
