SUBFLOW_CAMPAIGN_CAMPAIGN_MEMBER_Check_for_Opt_Outs.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_All_Input_Campaign_Members_to_Safe_Sender_Collection_Cert</name>
        <label>Add All Input Campaign Members to Safe Sender Collection</label>
        <locationX>2138</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_Member_Collection_OR_Single_CMEM_received_as_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Campaign_Members_to_Output_Collection</name>
        <label>Add All Input Campaign Members to Safe Sender Collection</label>
        <locationX>4178</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember_RecColl</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CMem_status_Email_Opt_Out</name>
        <label>Assign CMem status (Email Opt-Out)</label>
        <locationX>1370</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Opt-Out</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CMem_status_Survey_Opt_Out</name>
        <label>Assign CMem status (Survey Opt-Out)</label>
        <locationX>1634</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Opt-Out</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_to_Input_Rec</name>
        <label>Assign to Input Rec</label>
        <locationX>1852</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Input_CampaignMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_or_CMem_Collection_received_as_input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Input_Rec_Collection</name>
        <label>DEBUG - Assign to Input Rec Collection</label>
        <locationX>1984</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Input_CampaignMember_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DEBUG_Get_all_campaign_members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMemDebug_ID_has_a_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Safe_Sender_record_variable</name>
        <label>Assign to Safe Sender record variable</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_to_Safe_Sender_record_variable2</name>
        <label>Assign to Safe Sender record variable</label>
        <locationX>1898</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cert_Assign_CMem_status_Cert_Opt_Out</name>
        <label>(Cert) Assign CMem status (Cert Opt-Out)</label>
        <locationX>578</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cert Opt-Out</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cert_Assign_CMem_status_Email_Opt_Out</name>
        <label>(Cert) Remove from Safe Sender and Assign CMem status (Email Opt-Out)</label>
        <locationX>2954</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>CertLoop_Campaign_s_Members.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_CMember_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CertLoop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CertLoop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CertLoop_Campaign_s_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cert_Assign_CMem_status_Email_Opt_Out2</name>
        <label>(Cert) Assign CMem status (Email Opt-Out)</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_Individual_CMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Opt-Out</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cert_Assign_to_Safe_Sender_record_variable</name>
        <label>(Cert) Assign to Safe Sender record variable</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Cert_Assign_to_Safe_Sender_record_variable2</name>
        <label>(Cert) Assign to Safe Sender record variable</label>
        <locationX>842</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_Individual_CMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OptOutsDetected</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_Input_Rec_Collection</name>
        <label>Assign to Input Rec Collection</label>
        <locationX>2094</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>Input_CampaignMember_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_campaign_members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Input_Campaign_Members_to_Safe_Sender_Collection_Cert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Cert</name>
        <label>(Cert) Remove from Safe Sender and Assign CMEM Status</label>
        <locationX>3218</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>CertLoop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CertLoop_Campaign_s_Members.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cert Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_CMember_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CertLoop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CertLoop_Campaign_s_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Email_Opt_Out</name>
        <label>Remove from Safe Sender and Assign CMEM Status (Email Opt-Out)</label>
        <locationX>4050</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_Campaign_s_Members.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_CMember_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaign_s_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Survey_Opt_Out</name>
        <label>Remove from Safe Sender and Assign CMEM Status (Survey Opt-Out)</label>
        <locationX>4314</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Loop_Campaign_s_Members.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Opt-Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_UpdatesReqd_CMember_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_SafeSender_CMember_Collection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Campaign_s_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Campaign_s_Members</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Cert_Select_CMEM_with_ANY_opt_outs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>(Cert) Select CMEM with ANY opt-outs</label>
        <locationX>2886</locationX>
        <locationY>1886</locationY>
        <assignNextValueToReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Output_SafeSender_CMember_Collection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs.dc__Email_Opt_Out__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs.Certificate_Opt_Out__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Cert_Survey_Email_Opt_Out_CMem_found</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Select_CMEM_with_ANY_opt_outs</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Select CMEM with ANY opt-outs</label>
        <locationX>3982</locationX>
        <locationY>1886</locationY>
        <assignNextValueToReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Output_SafeSender_CMember_Collection</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs.dc__Email_Opt_Out__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Cert_Select_CMEM_with_ANY_opt_outs.Survey_Opt_Out__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>RecordsfoundSomeSurveyEmail</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>CAMP_Opt_out_Types_Found</name>
        <label>Opt-out Types Found</label>
        <locationX>4314</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Loop_Campaign_s_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opt-outs detected</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Email_Opt_out_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaign_s_Members.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Email_Opt_Out</targetReference>
            </connector>
            <label>Email Opt-out detected</label>
        </rules>
        <rules>
            <name>Survey_Opt_outs_detected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaign_s_Members.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Survey_Opt_Out</targetReference>
            </connector>
            <label>Survey Opt-outs detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Member_Collection_OR_Single_CMEM_received_as_input</name>
        <label>Campaign Member Collection OR Single CMEM received as input?</label>
        <locationX>2138</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>DEBUG_Certificate_Opt_Out_Only_Checkbox_ticked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_Collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CampaignMember_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Certificate_Opt_Out_Check_flagged_INDI</targetReference>
            </connector>
            <label>Campaign Member Collection</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_or_CMem_Collection_received_as_input</name>
        <label>Campaign or CMem Collection received as input?</label>
        <locationX>2138</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Add_All_Input_Campaign_Members_to_Safe_Sender_Collection_Cert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>CMEM_Coll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_All_Input_Campaign_Members_to_Safe_Sender_Collection_Cert</targetReference>
            </connector>
            <label>CMEM_Coll</label>
        </rules>
        <rules>
            <name>CampaignRec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Campaign_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_campaign_members</targetReference>
            </connector>
            <label>Campaign Rec received as Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cert_Current_CMem_Email_OR_Certificate_Opt_outs_detected</name>
        <label>(Cert) Current CMem - Email OR Certificate Opt-outs detected?</label>
        <locationX>2998</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Cert_Opt_out_Types_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opt-outs found</defaultConnectorLabel>
        <rules>
            <name>NO_Opt_outs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CertLoop_Campaign_s_Members.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CertLoop_Campaign_s_Members.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CertLoop_Campaign_s_Members</targetReference>
            </connector>
            <label>NO Opt-outs found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cert_Opt_out_Types_Found</name>
        <label>(Cert) Opt-out Types Found</label>
        <locationX>3218</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>CertLoop_Campaign_s_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opt-outs detected</defaultConnectorLabel>
        <rules>
            <name>Cert_Email_Opt_out_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CertLoop_Campaign_s_Members.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_Assign_CMem_status_Email_Opt_Out</targetReference>
            </connector>
            <label>Email Opt-out detected</label>
        </rules>
        <rules>
            <name>Certificate_Opt_outs_detected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CertLoop_Campaign_s_Members.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_from_Safe_Sender_and_Assign_CMEM_Status_Cert</targetReference>
            </connector>
            <label>Certificate Opt-outs detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cert_Opt_out_Types_Found2</name>
        <label>(Cert) Opt-out Types Found</label>
        <locationX>578</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Cert_Assign_to_Safe_Sender_record_variable2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opt-outs detected</defaultConnectorLabel>
        <rules>
            <name>Email_Opt_out_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_Assign_CMem_status_Email_Opt_Out2</targetReference>
            </connector>
            <label>Email Opt-out detected</label>
        </rules>
        <rules>
            <name>Cert_Opt_out_detected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_Assign_CMem_status_Cert_Opt_Out</targetReference>
            </connector>
            <label>Cert Opt-out detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cert_OR_Email_Opt_outs_detected</name>
        <label>Cert OR Email Opt-outs detected?</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Cert_Opt_out_Types_Found2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opt-outs found</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_NO_Opt_outs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CampaignMember.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_Assign_to_Safe_Sender_record_variable</targetReference>
            </connector>
            <label>NO Opt-outs found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cert_Survey_Email_Opt_Out_CMem_found</name>
        <label>(Cert) Survey/Email Opt Out CMem found?</label>
        <locationX>2886</locationX>
        <locationY>2006</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cert_Select_CMEM_with_ANY_opt_outs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CertLoop_Campaign_s_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Certificate_Opt_Out_Check_flagged_INDI</name>
        <label>Certificate Opt Out Check flagged?</label>
        <locationX>842</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Survey_OR_Email_Opt_outs_detected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_OR_Email_Opt_outs_detected</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMemDebug_ID_has_a_value</name>
        <label>CMemDebug ID has a value?</label>
        <locationX>1984</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Campaign_or_CMem_Collection_received_as_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CmemDBYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DEBUGCMem_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Member</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_CMem_Survey_OR_Email_Opt_outs_detected</name>
        <label>Current CMem - Survey, OR Email Opt-outs detected?</label>
        <locationX>4094</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>CAMP_Opt_out_Types_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opt-outs found</defaultConnectorLabel>
        <rules>
            <name>CAMP_NO_Opt_outs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Campaign_s_Members.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Campaign_s_Members.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Campaign_s_Members</targetReference>
            </connector>
            <label>NO Opt-outs found</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEBUG_Certificate_Opt_Out_Only_Checkbox_ticked</name>
        <label>Certificate Opt Out Only Checkbox ticked?</label>
        <locationX>3434</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Select_CMEM_with_ANY_opt_outs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCertOptChecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CertOptOutCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cert_Select_CMEM_with_ANY_opt_outs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEBUG_Detected</name>
        <label>DEBUG Detected?</label>
        <locationX>2138</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Campaign_or_CMem_Collection_received_as_input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DEBUG_CMEM_Record_Collection_NOTreceived</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DEBUGCampaign_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEBUG_Get_all_campaign_members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opt_out_Types_Found</name>
        <label>Opt-out Types Found</label>
        <locationX>1634</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Safe_Sender_record_variable2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Opt-outs detected</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Email_Opt_out_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CMem_status_Email_Opt_Out</targetReference>
            </connector>
            <label>Email Opt-out detected</label>
        </rules>
        <rules>
            <name>Survey_Opt_out_detected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CampaignMember.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CMem_status_Survey_Opt_Out</targetReference>
            </connector>
            <label>Survey Opt-out detected</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordsfoundSomeSurveyEmail</name>
        <label>Records found?</label>
        <locationX>3982</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Add_Campaign_Members_to_Output_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOOCF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_CMEM_with_ANY_opt_outs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Campaign_s_Members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Survey_OR_Email_Opt_outs_detected</name>
        <label>Survey, OR Email Opt-outs detected?</label>
        <locationX>1370</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Opt_out_Types_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opt-outs found</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_NO_Opt_outs_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CampaignMember.dc__Email_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CampaignMember.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Safe_Sender_record_variable</targetReference>
            </connector>
            <label>NO Opt-outs found</label>
        </rules>
    </decisions>
    <interviewLabel>SUBFLOW_[CAMPAIGN/CAMPAIGN MEMBER] Check for Opt Outs {!$Flow.CurrentDateTime} - {!$Flow.CurrentRecord}</interviewLabel>
    <label>SUBFLOW_[CAMPAIGN/CAMPAIGN MEMBER] Check for Opt Outs</label>
    <loops>
        <name>CertLoop_Campaign_s_Members</name>
        <label>(Cert) Loop Campaign&apos;s Members</label>
        <locationX>2690</locationX>
        <locationY>2126</locationY>
        <collectionReference>Cert_Select_CMEM_with_ANY_opt_outs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cert_Current_CMem_Email_OR_Certificate_Opt_outs_detected</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Campaign_s_Members</name>
        <label>Loop Campaign&apos;s Members</label>
        <locationX>3786</locationX>
        <locationY>2126</locationY>
        <collectionReference>Select_CMEM_with_ANY_opt_outs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_CMem_Survey_OR_Email_Opt_outs_detected</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>DEBUG_Get_all_campaign_members</name>
        <label>DEBUG - Get all campaign members</label>
        <locationX>1984</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Input_Rec_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DEBUGCampaign_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attended_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_all_campaign_members</name>
        <label>Get all campaign members</label>
        <locationX>2094</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_to_Input_Rec_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Campaign_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attended_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>1852</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Input_Rec</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DEBUGCMem_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Attended_Formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2012</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEBUG_Detected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BULK_UPDATE_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CertOptOutCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CheckCMForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Cert_Select_CMEM_with_ANY_opt_outs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DEBUGCampaign_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DEBUGCMem_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredCMLoopSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>FORM_NoOptOuts_Cert_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NOT($Record.dc__Email_Opt_Out__c)&amp;&amp;NOT($Record.Certificate_Opt_Out__c)</stringValue>
        </value>
    </variables>
    <variables>
        <name>FORM_NoOptOuts_Survey_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NOT($Record.dc__Email_Opt_Out__c)&amp;&amp;NOT($Record.Survey_Opt_Out__c)</stringValue>
        </value>
    </variables>
    <variables>
        <name>FORM_SomeCertEmailOptOuts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Record.dc__Email_Opt_Out__c||$Record.Certificate_Opt_Out__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>FORM_SomeSurveyEmailOptOuts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$Record.dc__Email_Opt_Out__c||$Record.Survey_Opt_Out__c</stringValue>
        </value>
    </variables>
    <variables>
        <name>FormCheck_FormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormCheck_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormCheckStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Input_Campaign_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Input_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Input_CampaignMember_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewForm_Combined_Loop_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Combined_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Contact_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Lead_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewlyAddedFormRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>OptOutsDetected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Output_SafeSender_CMember_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Output_SafeSender_Individual_CMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Output_UpdatesReqd_CMember_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Output_UpdatesReqd_Individual_CMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
