SUBFLOW_EVENTS_CAMPAIGN_CAMPAIGN_MEMBER_Prepare_Event_Surveys_Send_Certificate.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Campaign_wide_Email_of_Survey_Forms</name>
        <label>Campaign-wide Email of Survey/Forms</label>
        <locationX>1543</locationX>
        <locationY>7034</locationY>
        <actionName>dc__Integration4</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>toCampaign</name>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ctx1</name>
            <value>
                <elementReference>Input_Output_Campaign_Rec.dc__Event__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>00X0o000002R9hq</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddress</name>
            <value>
                <stringValue>events@bsphn.org.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromAddressLabel</name>
            <value>
                <stringValue>Events @ Brisbane South PHN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationStatus</name>
            <value>
                <stringValue>Survey Sent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>statusFilter</name>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Compare_Form_IDs_with_CMEM_Form_Lookup_IDs</name>
        <label>Compare Form IDs with CMEM Form Lookup IDs</label>
        <locationX>1425</locationX>
        <locationY>878</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Count_of_CMEM_records_with_missing_Forms_found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>Formstack_Survey__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>Formstack_Survey__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>Formstack_Survey__c</typeValue>
        </dataTypeMappings>
        <faultConnector>
            <targetReference>Assign_ALL_CMEM_to_No_Forms_Record_Collection</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>Get_existing_Forms_for_this_Campaign_Event</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>CampaignMemberID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>Bulk_Retrieve_Campaign_Member_Details</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Count_of_CMEM_records_with_missing_Forms_found</name>
        <label>Copy 1 of Count of CMEM records with missing Forms found</label>
        <locationX>1953</locationX>
        <locationY>998</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CMEM_Missing_Forms_found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <stringValue>abc123</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>CMem_NoForms_RecColl</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NumberofExistingFormsFound</assignToReference>
            <name>totalNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Count_of_CMEM_records_with_missing_Forms_found</name>
        <label>Count of CMEM records with missing Forms found</label>
        <locationX>1425</locationX>
        <locationY>998</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CMEM_Missing_Forms_found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <stringValue>abc123</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Compare_Form_IDs_with_CMEM_Form_Lookup_IDs.targetUniqueRecordCollection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NumberofExistingFormsFound</assignToReference>
            <name>totalNumber</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>DeDupe_Collection</name>
        <label>DeDupe Collection</label>
        <locationX>1345</locationX>
        <locationY>6578</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_CMem_with_Event_survey_url_and_ID_Reset_trigger</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>SemiFinalCMem_RecColl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Join_Opt_Out_and_Survey_CMem_recs_to_update</name>
        <label>Join Opt Out and Survey CMem recs to update</label>
        <locationX>1213</locationX>
        <locationY>6242</locationY>
        <actionName>JoinCollections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SemiFinal_CMEM_Collection_assignment</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__inputCollection2</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>BULK_UPDATE_CMem_RecColl</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection2</name>
            <value>
                <elementReference>Filter_to_Safe_Senders_Only.Output_UpdatesReqd_CMember_Collection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Safe_Sender_CMEM_Count</name>
        <label>Safe Sender CMEM Count</label>
        <locationX>1524</locationX>
        <locationY>1658</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Safe_Senders_found</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <stringValue>abc123</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Filter_to_Safe_Senders_Only.Output_SafeSender_CMember_Collection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_all_CMEM_to_No_Forms_Rec_Coll</name>
        <label>Assign ALL CMEM to No Forms Record Collection</label>
        <locationX>1953</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>CMem_NoForms_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bulk_Retrieve_Campaign_Member_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Count_of_CMEM_records_with_missing_Forms_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CMEM_Rec_to_Loop_collection</name>
        <label>Add CMEM Rec to Loop collection</label>
        <locationX>1458</locationX>
        <locationY>5210</locationY>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>BULK_UPDATE_CMem_Rec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CMemURLUpdatesPending_BOOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_new_surveys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CMEM_Rec_to_Loop_collection_0</name>
        <label>Add CMEM Rec to Loop collection</label>
        <locationX>1810</locationX>
        <locationY>3266</locationY>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CMemURLUpdatesPending_BOOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1_Safe_SendervCampaign_Memberz</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Learning_Outcomes_4_and_5</name>
        <label>Add Learning Outcomes 4 and 5</label>
        <locationX>4241</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact.LOQuestion04__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.LOQuestion05__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Learning_Outcomes_4_and_5_to_survey</name>
        <label>Add Learning Outcomes 4 and 5 to survey</label>
        <locationX>1590</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.LOQuestion04__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.LOQuestion05__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ5__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Survey_creation_queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Survey_creation_queue</name>
        <label>Add to Survey creation queue</label>
        <locationX>1722</locationX>
        <locationY>2930</locationY>
        <assignmentItems>
            <assignToReference>FormsToBeCreated_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>NewForm_Contact_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_CMem_status_update_made</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ALL_CMEM_to_No_Forms_Record_Collection</name>
        <label>Assign ALL CMEM to No Forms Record Collection</label>
        <locationX>1689</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CMem_NoForms_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Bulk_Retrieve_Campaign_Member_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CMEM_Missing_Forms_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CMEM_to_No_Forms_Record_Collection</name>
        <label>Assign filtered CMEM to No Forms Record Collection</label>
        <locationX>1524</locationX>
        <locationY>1418</locationY>
        <assignmentItems>
            <assignToReference>CMem_NoForms_RecColl</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>Compare_Form_IDs_with_CMEM_Form_Lookup_IDs.targetUniqueRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_to_Safe_Senders_Only</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CMem_Updated_to_Collection_Output</name>
        <label>Assign CMem Updated to Collection (Output)</label>
        <locationX>1345</locationX>
        <locationY>6818</locationY>
        <assignmentItems>
            <assignToReference>var_FormsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LinkageUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMEMsUpdated_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemiFinalCMem_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campaign_wide_Email_of_Survey_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Post_event_Survey_URL</name>
        <label>Assign (Contact) Post-event Survey URL</label>
        <locationX>2393</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Input_Output_CMem_Rec.Post_Event_Survey_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_forms.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Survey</name>
        <label>Assign Contact to Survey</label>
        <locationX>3977</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Build_basic_Survey_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_to_Survey_0</name>
        <label>Assign Contact to Survey</label>
        <locationX>1458</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.ContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_basic_Survey_Form_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_Post_event_Survey_URL</name>
        <label>Assign (Lead) Post-event Survey URL</label>
        <locationX>2657</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Input_Output_CMem_Rec.Post_Event_Survey_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_forms.Event_URL_Lead__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Lead_to_Survey</name>
        <label>Assign Lead to Survey</label>
        <locationX>4373</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_basic_Survey_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Lead_to_Survey_0</name>
        <label>Assign Lead to Survey</label>
        <locationX>1722</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_basic_Survey_Form_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Forms_to_Collection</name>
        <label>Assign new Forms to Collection</label>
        <locationX>1238</locationX>
        <locationY>3938</locationY>
        <assignmentItems>
            <assignToReference>FreshForms_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormsToBeCreated_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_new_surveys</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Post_event_Survey_URL</name>
        <label>Assign Post-event Survey URL</label>
        <locationX>4285</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Input_Output_CMem_Rec.Post_Event_Survey_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FINAL_INDI_Retrieve_Form_Details.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LinkageUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Build_basic_Survey_Form</name>
        <label>Build basic Survey (Form)</label>
        <locationX>4373</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.CM_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Recipient_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_EventForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewFormStatus_Default</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.CampaignMemberID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.LOQuestion01__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.LOQuestion02__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.LOQuestion03__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q01_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.Learning_Outcome_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q02_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.Learning_Outcome_Q2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q03_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q04_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.ELOQ4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q05_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.Learning_Outcome_Q5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact.Q06_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Campaign.Learning_Outcome_Q6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_3_Learning_Outcomes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_basic_Survey_Form_0</name>
        <label>Build basic Survey (Form)</label>
        <locationX>1722</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.FullName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.CM_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Recipient_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordType_EventForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewFormStatus_Default</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.CampaignMemberID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.LOQuestion01__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.LOQuestion02__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.LOQuestion03__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q01_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q02_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_Q2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q03_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_Q3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q04_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_Q4__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q05_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_Q5__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewForm_Contact_Loop.Q06_Desc_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.Learning_Outcome_Q6__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_3_Learning_Outcomes_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_SemiFinal_CMEM_Collection_assignment</name>
        <label>SemiFinal CMEM Collection assignment</label>
        <locationX>1477</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>SemiFinalCMem_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BULK_UPDATE_CMem_RecColl</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeDupe_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Debug_Assign</name>
        <label>Debug Assign</label>
        <locationX>1590</locationX>
        <locationY>4418</locationY>
        <assignmentItems>
            <assignToReference>DebugText_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Link.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DEBUGTest2_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_new_surveys.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_CMem_Survey_lookup_and_direct_link_complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SemiFinal_CMEM_Collection_assignment</name>
        <label>SemiFinal CMEM Collection assignment</label>
        <locationX>1213</locationX>
        <locationY>6362</locationY>
        <assignmentItems>
            <assignToReference>SemiFinalCMem_RecColl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Join_Opt_Out_and_Survey_CMem_recs_to_update.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DeDupe_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Trigger_Certificate_send_by_CMem_Status_update</name>
        <label>Trigger Certificate send by CMem Status update</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Loop_1_Safe_SendervCampaign_Memberz.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CMemURLUpdatesPending_BOOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CMem_record</name>
        <label>Update CMem record</label>
        <locationX>2591</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Input_Output_CMem_Rec.Forms_Surveys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_existing_forms.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LinkageUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CM_Post_event_Survey_link_has_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CMem_record_Bool</name>
        <label>Update CMem record</label>
        <locationX>1766</locationX>
        <locationY>4658</locationY>
        <assignmentItems>
            <assignToReference>var_CMemURLUpdatesPending_BOOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_Rec.Post_Event_Survey_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Link.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_Rec.Forms_Surveys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Link.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Link.CampaignMemberID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_CMem_lookup_updates_to_commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CMem_record_Bool_0</name>
        <label>Update CMem record</label>
        <locationX>1502</locationX>
        <locationY>4778</locationY>
        <assignmentItems>
            <assignToReference>var_CMemURLUpdatesPending_BOOL</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_Rec.Post_Event_Survey_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_new_surveys.Event_URL__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BULK_UPDATE_CMem_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormsLoop_Get_Campaign_Member_details.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Any_CMem_lookup_updates_to_commit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Survey_lookup</name>
        <label>Update Survey lookup</label>
        <locationX>4285</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>Input_Output_CMem_Rec.Forms_Surveys__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FINAL_INDI_Retrieve_Form_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FormsCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Post_event_Survey_URL</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NewFormStatus_Default</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Draft</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecordType_EventForm</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0120o000000veGSAAY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Campaign_Members_to_be_updated</name>
        <label>Any Campaign Members to be updated</label>
        <locationX>1543</locationX>
        <locationY>6002</locationY>
        <defaultConnector>
            <targetReference>Campaign_wide_Email_of_Survey_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No updates pending</defaultConnectorLabel>
        <rules>
            <name>Updates_pending</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Filter_to_Safe_Senders_Only.Output_UpdatesReqd_CMember_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BULK_UPDATE_CMem_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Both_Collections_contain_records</targetReference>
            </connector>
            <label>Updates pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_CMem_lookup_updates_to_commit</name>
        <label>Any CMem lookup updates to commit?</label>
        <locationX>1590</locationX>
        <locationY>5090</locationY>
        <defaultConnector>
            <targetReference>Loop_new_surveys</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Updates_pending_CMemURL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_CMemURLUpdatesPending_BOOL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CMEM_Rec_to_Loop_collection</targetReference>
            </connector>
            <label>Updates pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_CMem_status_update_made</name>
        <label>Any CMem status update made?</label>
        <locationX>1942</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Loop_1_Safe_SendervCampaign_Memberz</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Updates</defaultConnectorLabel>
        <rules>
            <name>Status_update_s_made</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>var_CMemURLUpdatesPending_BOOL</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_CMEM_Rec_to_Loop_collection_0</targetReference>
            </connector>
            <label>Status update(s) made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_forms_created</name>
        <label>Any forms created?</label>
        <locationX>4417</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>None created</defaultConnectorLabel>
        <rules>
            <name>Forms_created</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Create_Form</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FINAL_INDI_Retrieve_Form_Details</targetReference>
            </connector>
            <label>Forms created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Surveys_for_creation</name>
        <label>Any Surveys for creation?</label>
        <locationX>1370</locationX>
        <locationY>3578</locationY>
        <defaultConnector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No surveys pending</defaultConnectorLabel>
        <rules>
            <name>Surveys_pending_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormsToBeCreated_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_any_Draft_Status_Surveys</targetReference>
            </connector>
            <label>Surveys pending creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_CMem_Survey_lookup_and_direct_link_complete</name>
        <label>Are CMem Survey lookup and direct link complete?</label>
        <locationX>1590</locationX>
        <locationY>4538</locationY>
        <defaultConnector>
            <targetReference>Update_CMem_record_Bool</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormsLoop_Get_Campaign_Member_details.Post_Event_Survey_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormsLoop_Get_Campaign_Member_details.Forms_Surveys__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_current_Survey_match_CMem_lookups</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Both_Collections_contain_records</name>
        <label>Both Collections contain records?</label>
        <locationX>1345</locationX>
        <locationY>6122</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_SemiFinal_CMEM_Collection_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesBCCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BULK_UPDATE_CMem_RecColl</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Filter_to_Safe_Senders_Only.Output_UpdatesReqd_CMember_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Join_Opt_Out_and_Survey_CMem_recs_to_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_Members_found</name>
        <label>Campaign Members found?</label>
        <locationX>1543</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CMemFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Bulk_Retrieve_Campaign_Member_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receive_Certificate_ONLY_for_Campaign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campaign_or_Campaign_Member_received_as_input</name>
        <label>Campaign or Campaign Member received as input?</label>
        <locationX>3065</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>INDI_Retrieve_Campaign_Member_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Campaign Member</defaultConnectorLabel>
        <rules>
            <name>Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_Campaign_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_Retrieve_Campaign_Member_Details</targetReference>
            </connector>
            <label>Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Form_Already_Exists_Contact_0</name>
        <label>Check for missing Form / Check Form status</label>
        <locationX>3878</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Draft_Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_Post_event_Survey_lookup_has_value</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>In_Progress_Contact_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>Survey_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Survey Sent</stringValue>
                </rightValue>
            </conditions>
            <label>Survey Sent</label>
        </rules>
        <rules>
            <name>Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <label>Sent</label>
        </rules>
        <rules>
            <name>Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_or_Lead_0_0_0</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>CM_Post_event_Survey_link_has_value</name>
        <label>CM Post-event Survey link has value</label>
        <locationX>2723</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Link DOES exist</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist_CM_Form_URL_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Post_Event_Survey_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_or_Contact</targetReference>
            </connector>
            <label>Link does NOT exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>CM_Post_event_Survey_lookup_has_value</name>
        <label>CM Post-event Survey lookup has value</label>
        <locationX>2723</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>CM_Post_event_Survey_link_has_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lookup exists</defaultConnectorLabel>
        <rules>
            <name>Lookup_to_Survey_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>INDI_OUTPUT_CMem_Rec.Forms_Surveys__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMem_record</targetReference>
            </connector>
            <label>Lookup to Survey is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMEM_Missing_Forms_found</name>
        <label>CMEM Missing Forms found?</label>
        <locationX>1689</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yescmpresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofExistingFormsFound</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CMEM_to_No_Forms_Record_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Lead_0_0_0</name>
        <label>Contact or Lead</label>
        <locationX>4417</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Any_forms_created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Survey</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lead</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_Survey</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Speaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_forms_created</targetReference>
            </connector>
            <label>Speaker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_or_Lead_0_0_0_0</name>
        <label>Contact or Lead</label>
        <locationX>1722</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Build_basic_Survey_Form_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_to_Survey_0</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>Lead_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Type</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_to_Survey_0</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Survey_Trigger_ticked</name>
        <label>Create Survey Trigger ticked?</label>
        <locationX>4587</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Not ticked</defaultConnectorLabel>
        <rules>
            <name>Ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Manual_Trigger_Email_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_existing_forms</targetReference>
            </connector>
            <label>Ticked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_current_Survey_match_CMem_lookups</name>
        <label>Does current Survey match CMem lookups?</label>
        <locationX>1414</locationX>
        <locationY>4658</locationY>
        <defaultConnector>
            <targetReference>Update_CMem_record_Bool_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_new_surveys.Event_URL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormsLoop_Get_Campaign_Member_details.Post_Event_Survey_Link__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_new_surveys.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FormsLoop_Get_Campaign_Member_details.Forms_Surveys__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Any_CMem_lookup_updates_to_commit</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forms_found</name>
        <label>Forms found?</label>
        <locationX>1689</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Add_all_CMEM_to_No_Forms_Rec_Coll</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Existing Forms found</defaultConnectorLabel>
        <rules>
            <name>Form_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_Forms_for_this_Campaign_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compare_Form_IDs_with_CMEM_Form_Lookup_IDs</targetReference>
            </connector>
            <label>Existing Forms Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact?</label>
        <locationX>2525</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Assign_Lead_Post_event_Survey_URL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_existing_forms.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Post_event_Survey_URL</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_3_Learning_Outcomes</name>
        <label>More than 3 Learning Outcomes?</label>
        <locationX>4373</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Create_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>3 or Less</defaultConnectorLabel>
        <rules>
            <name>More_than_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Campaign.ELOQ4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_Output_CMem_Rec.Campaign.ELOQ5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Learning_Outcomes_4_and_5</targetReference>
            </connector>
            <label>More than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_3_Learning_Outcomes_0</name>
        <label>More than 3 Learning Outcomes?</label>
        <locationX>1722</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>Add_to_Survey_creation_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>3 or Less</defaultConnectorLabel>
        <rules>
            <name>More_than_3_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Campaign.ELOQ5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Learning_Outcomes_4_and_5_to_survey</targetReference>
            </connector>
            <label>More than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receive_Certificate_ONLY_for_Campaign</name>
        <label>Receive Certificate ONLY for Campaign?</label>
        <locationX>869</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Get_existing_Forms_for_this_Campaign_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Survey submission required</defaultConnectorLabel>
        <rules>
            <name>Certificate_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Receive_Certificate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Receive_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Certificate_send_by_CMem_Status_update</targetReference>
            </connector>
            <label>Certificate Only</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receive_Survey_for_Campaign</name>
        <label>Receive Survey for Campaign?</label>
        <locationX>1942</locationX>
        <locationY>2018</locationY>
        <defaultConnector>
            <targetReference>Any_CMem_status_update_made</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCSurvey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1_Safe_SendervCampaign_Memberz.Receive_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_or_Lead_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Safe_Senders_found</name>
        <label>Safe Senders found?</label>
        <locationX>1524</locationX>
        <locationY>1778</locationY>
        <defaultConnector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None found</defaultConnectorLabel>
        <rules>
            <name>Safe_Sender</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Safe_Sender_CMEM_Count.totalNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1_Safe_SendervCampaign_Memberz</targetReference>
            </connector>
            <label>Safe Sender</label>
        </rules>
    </decisions>
    <formulas>
        <name>Form_var_LeadSurveyURLExists</name>
        <dataType>Boolean</dataType>
        <expression>IF
(NOT
(
ISNULL
(
{!Get_existing_forms.Event_URL_Lead__c}
)
) 
= TRUE,
TRUE,
FALSE
)</expression>
    </formulas>
    <interviewLabel>SUBFLOW_(EVENTS) [CAMPAIGN/CAMPAIGN MEMBER - Prepare Event Surveys/Send Certificate {!$Flow.CurrentDateTime} - {!$User.Username}</interviewLabel>
    <label>EVENTS - SUBFLOW - Prepare Event Surveys/Send Certificate</label>
    <loops>
        <name>Loop_1_Safe_SendervCampaign_Memberz</name>
        <label>Loop 1 Safe SendervCampaign Memberz</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <collectionReference>Filter_to_Safe_Senders_Only.Output_SafeSender_CMember_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Receive_Survey_for_Campaign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Surveys_for_creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_new_surveys</name>
        <label>Loop newly-created surveys</label>
        <locationX>1238</locationX>
        <locationY>4058</locationY>
        <collectionReference>FreshForms_RecColl</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FormsLoop_Get_Campaign_Member_details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Campaign_Members_to_be_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Form</name>
        <label>Create Form</label>
        <locationX>4373</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Any_forms_created</targetReference>
        </connector>
        <inputReference>NewForm_Contact</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_surveys</name>
        <label>Create surveys</label>
        <locationX>1238</locationX>
        <locationY>3818</locationY>
        <connector>
            <targetReference>Assign_new_Forms_to_Collection</targetReference>
        </connector>
        <inputReference>FormsToBeCreated_RecColl</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Bulk_Retrieve_Campaign_Member_Details</name>
        <label>Bulk - Retrieve Campaign Member Details</label>
        <locationX>1543</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Members_found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Speaker</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Survey Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cert Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Receive_Certificate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Receive_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FINAL_INDI_Retrieve_Form_Details</name>
        <label>FINAL_INDI - Retrieve Form Details</label>
        <locationX>4285</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Survey_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FormsLoop_Get_Campaign_Member_details</name>
        <label>FormsLoop Get Campaign Member record</label>
        <locationX>1590</locationX>
        <locationY>4178</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_new_surveys.CampaignMemberID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_any_Draft_Status_Surveys</name>
        <label>Get any Draft Status Surveys</label>
        <locationX>1238</locationX>
        <locationY>3698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_surveys</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_forms</name>
        <label>INDI - Get Surveys (existing)</label>
        <locationX>3878</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Form_Already_Exists_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignMemberID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_CMem_Rec.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_existing_Forms_for_this_Campaign_Event</name>
        <label>Get existing Forms for this Campaign/Event</label>
        <locationX>1689</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Forms_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Output_Campaign_Rec.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Link</name>
        <label>Get Link</label>
        <locationX>1590</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Debug_Assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_new_surveys.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Formstack_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>INDI_Retrieve_Campaign_Member_Details</name>
        <label>INDI - Retrieve Campaign Member Details</label>
        <locationX>4587</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey_Trigger_ticked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>INDI_OUTPUT_CMem_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CMem_with_Event_survey_url_and_ID_Reset_trigger</name>
        <label>Update CMem with Event survey url and ID/ Reset trigger</label>
        <locationX>1345</locationX>
        <locationY>6698</locationY>
        <connector>
            <targetReference>Assign_CMem_Updated_to_Collection_Output</targetReference>
        </connector>
        <inputReference>DeDupe_Collection.outputRecordCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>2939</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign_or_Campaign_Member_received_as_input</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Filter_to_Safe_Senders_Only</name>
        <label>Filter to Safe Senders Only</label>
        <locationX>1524</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Safe_Sender_CMEM_Count</targetReference>
        </connector>
        <flowName>SUBFLOW_CAMPAIGN_CAMPAIGN_MEMBER_Check_for_Opt_Outs</flowName>
        <inputAssignments>
            <name>Input_CampaignMember_RecColl</name>
            <value>
                <elementReference>CMem_NoForms_RecColl</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ComponentNULL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[]</text>
    </textTemplates>
    <variables>
        <name>AddedFormCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>BULK_FoundForms_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>BULK_UPDATE_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>BULK_UPDATE_CMem_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CheckCMForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMCollectionFiltered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMem_NoForms_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMemSafeSendersRecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMEMsUpdated_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CMemUpdatesReqdRecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>currentItem_Check_Email_present</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>DEBUGTest2_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DebugText_Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FilteredCMLoopSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>FormCheck_FormID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormCheck_URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormCheckStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormsToBeCreated_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>FreshForms_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>INDI_OUTPUT_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Input_Output_Campaign_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Input_Output_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewForm_Combined_Loop_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Combined_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Contact_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewForm_Lead_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewFormCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewFormCollection_Loop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NewlyAddedFormRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Formstack_Survey__c</objectType>
    </variables>
    <variables>
        <name>NumberofExistingFormsFound</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SafeSenderCMem_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>SemiFinalCMem_RecColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>var_CMemURLUpdatesPending_BOOL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_FormsCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_FormsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_LinkageUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
