SUBFLOW_EVENTS_CAMPAIGN_MEMBER_Post_Event_Survey_or_Certificate_send.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey_Email_SurveysOnly</name>
        <label>Send Survey Email</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>CampaignMember.Event_Survey_email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Survey_Sent_Status_SurveysOnly</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Input_CMem_Rec.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_CMem_Rec_ID</name>
        <label>Assign CMem_Rec ID</label>
        <locationX>778</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>CMem_Rec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Commit_changes_to_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_record_details</name>
        <label>Assign record details</label>
        <locationX>778</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CM_DEBUG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CM_DEBUG.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Trigger_from_Screenflow_Resend_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordID</name>
        <label>Assign record details</label>
        <locationX>1042</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Trigger_from_Screenflow_Resend_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Sent_Status_SurveysOnly</name>
        <label>Assign Survey Sent Status</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Survey Sent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Manual_Trigger_Email_Survey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changes_to_be_applied</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Changes_Pending</name>
        <label>Reset Changes Pending</label>
        <locationX>910</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Conga_Trigger_field</name>
        <label>Update Conga Trigger field</label>
        <locationX>1018</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.CT_TriggerEmailCertificate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changes_to_be_applied</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Changes_to_be_applied</name>
        <label>Changes to be applied?</label>
        <locationX>910</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Reset_Changes_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Changes_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChangesMade_Bool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CMem_Rec_ID</targetReference>
            </connector>
            <label>Changes pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMem_Status_check_Campaign_Complete_TRUE_and_Cert_Opt_out_FALSE</name>
        <label>CMem Status check Campaign Complete = TRUE and Cert Opt-out = FALSE</label>
        <locationX>1150</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Changes_to_be_applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed - Certs NOT ok</defaultConnectorLabel>
        <rules>
            <name>Passed_Cert_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Certificate_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Campaign_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Forms_Surveys__r.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Conga_Trigger_field</targetReference>
            </connector>
            <label>Passed - Cert OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>CMem_Status_check_SurveysOnly</name>
        <label>CMem Status check</label>
        <locationX>336</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Changes_to_be_applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed - Surveys NOT ok</defaultConnectorLabel>
        <rules>
            <name>SurveysOnly_Passed_Surveys_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Survey_Opt_Out__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Campaign_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_send_data_requirements_check</targetReference>
            </connector>
            <label>Passed - Surveys OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_CMem_status_Attended</name>
        <label>Check CMem status = Attended</label>
        <locationX>501</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Changes_to_be_applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Attended</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Attended_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMem_Status_check_SurveysOnly</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Debug_Record_present</name>
        <label>DEBUG - Debug Record passed to flow?</label>
        <locationX>910</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Assign_recordID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CM_DEBUG</targetReference>
            </connector>
            <label>DEBUG - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_send_data_requirements_check</name>
        <label>Email and Status field data integrity check</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Changes_to_be_applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Passed_SurveysOnly</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Recipient_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Post_Event_Survey_Link__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Campaign_Completed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Attended_Formula__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Survey_Email_SurveysOnly</targetReference>
            </connector>
            <label>Passed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Trigger_from_Screenflow_Resend_Survey</name>
        <label>Manual Trigger from Screenflow? (Resend Survey)</label>
        <locationX>910</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>CMem_Status_check_Campaign_Complete_TRUE_and_Cert_Opt_out_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesMan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ManualSendRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Receive_SurveysOnly</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Receive_SurveysOnly</name>
        <label>Receive Surveys?</label>
        <locationX>671</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Changes_to_be_applied</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SurveysOnly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Receive_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Manual_Trigger_Email_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_CMem_status_Attended</targetReference>
            </connector>
            <label>Manually triggered</label>
        </rules>
    </decisions>
    <formulas>
        <name>FORM_TargetEmailField</name>
        <dataType>String</dataType>
        <expression>CASE({!CMem_Rec.Use_Contact_Role_Email__c}, 
&quot;1&quot;, {!CMem_Rec.Contact_Role_Email_1__c} ,
&quot;2&quot;, {!CMem_Rec.Contact_Role_Email_2__c} ,
&quot;3&quot;, {!CMem_Rec.Contact_Role_Email_3__c} ,
{!CMem_Rec.dc__Registered_Email__c} )</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>SUBFLOW_(EVENTS) [CAMPAIGN MEMBER] Post-Event Survey or Certificate send {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SUBFLOW_(EVENTS) [CAMPAIGN MEMBER] Post-Event Survey or Certificate send</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CM_DEBUG</name>
        <label>Get CM DEBUG</label>
        <locationX>778</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_record_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Commit_changes_to_Campaign_Member</name>
        <label>Commit changes to Campaign Member</label>
        <locationX>778</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Reset_Changes_Pending</targetReference>
        </connector>
        <inputReference>Input_CMem_Rec</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>784</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Debug_Record_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Campaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Input_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ManualSendRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChangesMade_Bool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SubflowCreatedForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_SubflowUpdatedLinkage</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
