SUBFLOW_CAMPAIGN_MEMBER_EVENTS_Contact_details_and_Status_update.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Recipient_email</name>
        <label>Assign Recipient email</label>
        <locationX>820</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.dc__Registered_Email_Check_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Changes_pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Speaker_updates_0</name>
        <label>Assign Speaker updates</label>
        <locationX>402</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Attendee_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Speaker</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Survey_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Certificate_Opt_Out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.X2_Day_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.X7_Day_Reminder_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_CMEM_Name_field_has_a_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Input_record</name>
        <label>Assign to Input record</label>
        <locationX>864</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Input_Campaign_Member</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactRole1</name>
        <label>ContactRole1</label>
        <locationX>50</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact.Contact_Role_ID1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_Email_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact.CR_EMAIL1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact_Role_Email_1__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recipient_email_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactRole2</name>
        <label>ContactRole2</label>
        <locationX>314</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact.Contact_Role_ID2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_Email_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact.CR_EMAIL2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact_Role_Email_2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recipient_email_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactRole3</name>
        <label>ContactRole3</label>
        <locationX>578</locationX>
        <locationY>3182</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact_Role_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Contact_Role_Email_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact.CR_EMAIL3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.Contact_Role_Email_3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Recipient_email_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_Input_record</name>
        <label>Assign to Input record</label>
        <locationX>600</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_passed_CMEM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Recipient_Email_Update</name>
        <label>Recipient Email Update</label>
        <locationX>666</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.dc__Registered_Email_Check_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Mobile_Unformatted_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recipient_Email_Update_0</name>
        <label>Recipient Email Update</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.dc__Registered_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Mobile_Unformatted_blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Changes_Pending_variable_0</name>
        <label>Reset Changes Pending variable</label>
        <locationX>732</locationX>
        <locationY>4166</locationY>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Attended_checkbox_Attended</name>
        <label>Update Attended checkbox - Attended</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Registered_email_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Attended_checkbox_Not_Attended</name>
        <label>Update Attended checkbox  - Not Attended</label>
        <locationX>666</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.Attended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Registered_email_present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CMEM_Reg_Mobile_Phone_with_Mobile_value</name>
        <label>Update CMEM Reg Mobile Phone with Mobile value</label>
        <locationX>226</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.dc__Registered_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.dc__Registered_Mobile_Check_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CMem_a_speaker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_CMEM_Reg_Mobile_Phone_with_Reg_Mobile_Checkin_value</name>
        <label>Update CMEM Reg Mobile Phone with Reg Mobile Checkin value</label>
        <locationX>490</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.dc__Registered_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.dc__Registered_Mobile_Check_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_CMem_a_speaker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Participant Name field used with Formstack form, to show the data on a form.</description>
        <name>Update_Participant_Name_field</name>
        <label>Update Participant Name field</label>
        <locationX>468</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Input_CMem_Rec.CampaignMemberName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_CMem_Rec.CM_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ChangesMade_Bool</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contact_Role_email_check_and_update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Attended_Not_Attended</name>
        <label>Attended/Not Attended</label>
        <locationX>534</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Update_Attended_checkbox_Not_Attended</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Attended</defaultConnectorLabel>
        <rules>
            <name>Attended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FORM_AttendedFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Attended_checkbox_Attended</targetReference>
            </connector>
            <label>Attended</label>
        </rules>
    </decisions>
    <decisions>
        <name>Changes_pending</name>
        <label>Changes pending?</label>
        <locationX>732</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>Reset_Changes_Pending_variable_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No update required</defaultConnectorLabel>
        <rules>
            <name>Update_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ChangesMade_Bool</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Campaign_Member_0</targetReference>
            </connector>
            <label>Update required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_CMEM_Name_field_has_a_value</name>
        <label>Check if CMEM Name field has a value</label>
        <locationX>732</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Contact_Role_email_check_and_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Value found</defaultConnectorLabel>
        <rules>
            <name>No_value_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.CampaignMemberName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Participant_Name_field</targetReference>
            </connector>
            <label>No value found</label>
        </rules>
        <rules>
            <name>Exception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Included</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Changes_pending</targetReference>
            </connector>
            <label>Exception</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Role_email_check_and_update</name>
        <label>Contact Role email check and update</label>
        <locationX>732</locationX>
        <locationY>2942</locationY>
        <defaultConnector>
            <targetReference>Is_Recipient_email_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Role email NOT used</defaultConnectorLabel>
        <rules>
            <name>Contact_Role_email_IS_used</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Use_Contact_Role_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Contact_Role_email_should_be_updated</targetReference>
            </connector>
            <label>Contact Role email IS used</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_record_present</name>
        <label>Input record present?</label>
        <locationX>732</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Input_Campaign_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_passed_CMEM</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CMem_a_speaker</name>
        <label>Is CMem a Speaker</label>
        <locationX>534</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Check_if_CMEM_Name_field_has_a_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non Speaker</defaultConnectorLabel>
        <rules>
            <name>Speaker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speaker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Speaker_updates_0</targetReference>
            </connector>
            <label>Speaker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mobile_blank</name>
        <label>Is &apos;&apos;Mobile&apos;&apos; blank?</label>
        <locationX>138</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Update_CMEM_Reg_Mobile_Phone_with_Mobile_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_CMem_a_speaker</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Mobile_Unformatted_blank</name>
        <label>Is &apos;Mobile_Unformatted blank?</label>
        <locationX>534</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Is_CMem_a_speaker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.dc__Mobile_Unformatted__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Registered_Mobile_Checkin_blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Recipient_email_present</name>
        <label>Is Recipient email present?</label>
        <locationX>732</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Assign_Recipient_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesREPz</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Recipient_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changes_pending</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registered_email_present</name>
        <label>Is &apos;Registered&apos; email present?</label>
        <locationX>534</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Recipient_Email_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesREP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.dc__Registered_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipient_Email_Update_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Registered_Mobile_Checkin_blank</name>
        <label>Is &apos;Registered Mobile Checkin&apos; blank?</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Update_CMEM_Reg_Mobile_Phone_with_Reg_Mobile_Checkin_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRMCIHV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.dc__Registered_Mobile_Check_in__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Mobile_blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Campaign_Member</name>
        <label>Type of Campaign Member</label>
        <locationX>732</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Check_if_CMEM_Name_field_has_a_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Attendee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Campaign.CampaignMemberRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Attendee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attended_Not_Attended</targetReference>
            </connector>
            <label>Attendee</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Contact_Role_email_should_be_updated</name>
        <label>Which Contact Role email should be updated</label>
        <locationX>446</locationX>
        <locationY>3062</locationY>
        <defaultConnector>
            <targetReference>Is_Recipient_email_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Use_Contact_Role_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRole1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Use_Contact_Role_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRole2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_CMem_Rec.Use_Contact_Role_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContactRole3</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FORM_AttendedFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF( CONTAINS(&quot;Attended:Cert Sent:Survey Sent:Survey Completed,Speaker&quot;, TEXT({!Input_CMem_Rec.Status})) , TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>FORM_TargetEmailField</name>
        <dataType>String</dataType>
        <expression>CASE(Text({!Input_CMem_Rec.Use_Contact_Role_Email__c}), 
&quot;1&quot;, {!Input_CMem_Rec.Contact_Role_Email_1__c} ,
&quot;2&quot;, {!Input_CMem_Rec.Contact_Role_Email_2__c} ,
&quot;3&quot;, {!Input_CMem_Rec.Contact_Role_Email_3__c} ,
Text({!Input_CMem_Rec.Use_Contact_Role_Email__c}))</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>SUBFLOW_[CAMPAIGN_MEMBER] (EVENTS) - Contact details, and Status update {!$Flow.CurrentDateTime}{!$User.Username}</interviewLabel>
    <label>CMEM - SUBFLOW - Update CMEM Details (Events incl)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Input_Campaign_Member</name>
        <label>Get Input Campaign Member</label>
        <locationX>864</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Input_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_passed_CMEM</name>
        <label>Get passed CMEM</label>
        <locationX>600</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_to_Input_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_CMem_Rec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_0</name>
        <label>Update Campaign Member</label>
        <locationX>600</locationX>
        <locationY>3950</locationY>
        <connector>
            <targetReference>Reset_Changes_Pending_variable_0</targetReference>
        </connector>
        <inputReference>Input_CMem_Rec</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_record_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_CMem_Rec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ChangesMade_Bool</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
